<h1>This is the about us page.</h1>

<br />

<%= link_to('Contact us', {:action => 'contact_us', :country => 'us'}) %>

<br />

<%= link_to('index page', {:action => 'index'}) %>

<br />

<%= link_to('Contact us solution', {:action => 'contact', :country => 'uk'}) %>